* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;  
    /*Star applies to all the page*/ 
}

header, footer {
    background-color: lightgoldenrodyellow;
}

header, footer, main {
    max-width: 36rem;
    margin: 0 auto; /*centers everything on the page left-right*/  /*Adjusts outside of the border*/
    padding: 2rem; /*Inside the border adjustments*/
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    font-family: 'Playfair Display', serif;
}

h1{
    margin: auto;
}

img {
    box-shadow: 10px 5px 5px rgba(210,105,30, .3);
    border-radius: 15px;
    width: 150px;
    height: auto;
    margin: 10px auto;
}

section{
    margin: 30px auto;
}

a {
    margin: 15px auto;
}

footer {
    text-align: center;
}

/* Join */
form{
    max-width: 320px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1em;
}
form label,
form input{
    display: block;
    width: 100%;
}
label input{
    display: inline;
    width: auto;
    margin: 0;
}
form input{
    margin-bottom: 1em;
    padding: .75rem;
}

form label.required::after{
    content: " *required";
    color: red;
}
input:invalid{
    box-shadow: 0 0 2px 1px red;
}

#profile.pic {
    width: 150px;
    height: auto;
}

#special {
    color: brown;
}