* {
	margin: auto;
	padding: 0;
	box-sizing: border-box;
}

header, footer, main {
    max-width: 36rem;
    margin: 0 auto; 
    padding: 2rem; 
    border-radius: 15px;
	display: block;
}
header {
	max-width: none;
	padding: 0;
    align-items: center;
    flex-wrap: wrap;
	background-color: rgba(186, 63, 29, 1);
	color: rgb(217, 217, 217) !important;
}
header h1{
	text-align: center;
	color: rgb(217, 217, 217) !important;
}

nav {
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
nav ul {
	list-style-type: none;
	/* overflow: hidden; */
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}

a:hover {
	color: #1F363D;
}

h1, h2, h3, h4{
	font-family: 'Source Serif Pro', serif;
	color: #1F363D;
}
section{
	margin: 1em auto;
	padding: 1em;
    border-style: solid;
    min-width: 15em;
	background-color: rgba(64, 121, 140, .15);
}
p{
	font-family: 'Oxygen', sans-serif;
	color: #1F363D;
}

img{
	max-width: 500px;
	height: auto;
}
footer{
	text-align: center;
	background-color: rgba(186, 63, 29, 1);
	padding-top: 0;
	max-width: none;
}

main{
    max-width: 36em;
    display: flex;
    flex-wrap: wrap;
}

#logo{
    max-width: 5em;
    max-height: auto;
}

@media only screen and (max-width: 64em) {
.spotlight3{
	display: none;
}
}
@media only screen and (max-width: 35em) {
	.join{
		display: none;
	}
}