@media screen and (min-width: 47.5rem) {
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
    }
    .logo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    h1{
        grid-column: 2/3;
    }
    nav{
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        box-shadow: none;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 2em;
    }
    .navigation li:first-child {
		display: block;
	}
    nav li{
        font-size: 2em;
    }
    nav ul li a {
        text-align: center;
        padding: 1.25rem;
        font-size: 1.25rem;
    }
    main.home {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "event hero spotlight"
                            "weather hero spotlight"
                            "join news spotlight";
        gap: 1rem;
    }

    #s1{
        grid-area: event;
    }

    #s2{
        grid-area: weather;
    }

    #s3{
        grid-area: join;
        display: block;
        /* display: block; stops the display none */
    }

    #s4{
        grid-area: hero;
    }

    #s5{
        grid-area: news;
    }

    #s6{
        grid-area: spotlight;
        display: flex;
        flex-direction: column;
    }
    .spotlight3{
        display: block;
    }

    /* Discover Page */
    main.discover{
        grid-template-columns: 2fr 3fr;
        margin: 0 auto;
    }
    .demo-pics img{
        max-width: 100%;
        height: auto;
        border-radius: 50% 20% / 10% 40%;
        filter: blur(4px);
        transition: 0.5s ease-in-out;
    }
    .demo-pics img:hover{
        filter: blur(0);
        transition: 0.5s ease-in-out;
    }
    .gallery-item {
        /* border: 1px solid black; */
        width: 100%;
        max-width: 400px;
        /* min-height: 300px; */
        padding: .5rem;
        border-radius: 10% / 50%;
        margin-bottom: .5rem;
    }
    .gallery-label {
        text-align: center;
        padding: 1rem;
    } 
    .gallery-item:hover {
        box-shadow: 0 0 20px #555;
    }

    main.join{
        max-width: 47.5rem;
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 1em;
    }
    main.join form{
        margin: 1em 0;
    }

}